.row1 > button{
    background-color: #f5f5f5;
    width: 72px;
    height: 72px;
    margin-bottom: 6px;
}
.row1 > button:hover{
    background-color: #4A7C59;
}
.row2 > button{
    background-color: #f5f5f5;
    width: 72px;
    height: 72px;
    margin-bottom: 6px;
}
.row2 > button:hover{
    background-color: #4A7C59;
}
.row3 > button{
    background-color: #f5f5f5;
    width: 72px;
    height: 72px;
    margin-bottom: 6px;
}
.row3 > button:hover{
    background-color: #4A7C59;
}
.row4 > button{
    background-color: #f5f5f5;
    width: 72px;
    height: 72px;
    margin-bottom: 6px;
}
.row4 > button:hover{
    background-color: #4A7C59;
}
.row5 > button{
    background-color: #f5f5f5;
    width: 100%;
    height: 72px;
    font-size: 40px;
}
.row5 > button:hover{
    background-color: #4A7C59;
}

#clear:hover{
    background-color: #DB222A;
}