*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Compote";
    src: url(./Compote-Free.otf);
}
body{
    background-image: url("./Untitled.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}
.messagebox{
    width: 43.1%;
    height: 4.4rem;
    background-color: rgba(0,0,0,0.5);
    /* margin-left: 37.2%; */
    margin-top: 8.7%;
}
.input{
    width: 290px;
    margin-left: 3rem;
    display: flex;
}
.all{
    margin-left: 38.2%;
    margin-top: 4.8%;
}
h1{
    color: black;
    font-size: 2.2rem;
    /* use otf */
    font-family: "Compote";
    margin-left: 3.5%;
    margin-top: 9%;
}
.regNumberEntered{
    width: 70%;
    height: 40px;
}
.btn{
    width:30%;
}
.filter{
    width: 35.5%;
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-left: 35%;
    border-bottom: 4px double black;
}
.show{
    width: 5%;
    height: 40px;
    margin-left: 49.5%;
}
.light{
    display: flex;
    width: 70%;
    /* background-color: brown; */
    margin-left: 300px;
   gap: 6.1%;
   margin-left: 25.5%;
   margin-top: 2.6%;
}
.circle,
.circle2{
    width: 100px;
    /* make circle */
    height: 100px;
    border-radius: 45%;
    background-color: yellow;
    margin-top: 8.8%;

}